* {
    bg0:     #1a1111;
    bg1:     #271d1d;
    bg2:     #322828;
    bg3:     #3d3232;
    accent:  #ffb3b6;
    urgent:  #ffb4ab;
    fg0:     #f0dede;
    fg1:     #d7c1c1;
    fg2:     #9f8c8c;

    background-color: transparent;
    text-color:       @fg0;
    border-color:     @accent;
}
