* {
    bg0:     #fbf8ff;
    bg1:     #efedf4;
    bg2:     #e9e7ef;
    bg3:     #e4e1e9;
    accent:  #525a92;
    urgent:  #ba1a1a;
    fg0:     #1b1b21;
    fg1:     #46464f;
    fg2:     #767680;

    background-color: transparent;
    text-color:       @fg0;
    border-color:     @accent;
}
