* {
    bg0:     #19120d;
    bg1:     #261e19;
    bg2:     #312823;
    bg3:     #3d332d;
    accent:  #ffb786;
    urgent:  #ffb4ab;
    fg0:     #f0dfd7;
    fg1:     #d7c3b7;
    fg2:     #9f8d83;

    background-color: transparent;
    text-color:       @fg0;
    border-color:     @accent;
}
